.sidevar{
    background-color: #fbfbfb !important;
    color: white;
    height: 100vh;
    position:fixed;
    padding: 0px;
    border-right: 1px solid #dddbdb;
}
.fnt-size{
    font-size: 14px !important;
    font-weight: bold;
    color: black;
    text-align: end !important;
}

.head-color{
    background-color: #2b3636 !important;
    position: relative;
    color: white !important;
}
.home-img{
    /* background-image: url('../Images/banner.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.home-img1{
    background-image: url('../Images/gril.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.keep-sub-btn{
    background-color: #09a59a !important;
    width: 43%;
    border-radius: 23px;
    border: none;
    font-size: small;
    font-weight: bold;
    padding: 13px;
    color: white;
}
