body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row{
  margin: 0px !important;
  padding: 0px !important;
}

.ml25{
  margin-left: 25% !important;
 
}

.h220{
  height: 220px !important;
}


.h100{
  height: 100px !important;
}
.border-sm{
  border: 2px solid #dad8d8 !important;
  border-radius: 5px !important;
}
.border-xsm{
  border: 1px solid #dad8d8 !important;
  border-radius: 5px !important;
}
.h60{
  height: 60px !important;
}
.border-bottom{
  border-bottom: "1px solid gray" !important;
}

.v-center{
  justify-content: center!important;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.fs12{
  font-size: 12px !important;
}
.fs13{
  font-size: 13px !important;
}
.fs14{
  font-size: 14px !important;
}
.fs15{
  font-size: 15px !important;
}
.verticle-middle{
  margin: 0px !important;
  display: inline-block !important;
  vertical-align: middle !important;
  line-height: normal !important;
}
.h350{
  height: 350px !important;
}
.h50{
  height: 50px !important;
}
.p{
  font-family: Lato, sans-serif;

}

.colmd11 {
  flex: 0 0 auto;
  width: 88%;
  padding: 0px !important;
}

.colmd1 {
  flex: 0 0 auto;
  width: 12%;
}

.offsetmd1 {
  margin-left: 12%;
}

.input-fat{
  border: none !important;
}