.tooltip{
    position: relative;
    width: 100px!important;
}

.btn1-upload{
    border-radius: 8px !important;
    color: black !important;
    border-color: black;
    background-color: white !important;
    width: 40%;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold !important;
    /* background-color: white!important; */
}


.spn-txt{
    font-size: 12px!important;
    padding: 0px 5px;
}
.text-sm{
    font-size: 13px!important;
    color: black;
    font-weight: bold;
}

.text-xsm{
    font-size: 10px!important;
    color: black;
}