.navbar{
    height: 60px!important;
    
    
}
.navbar-bdr{
    border-bottom: 1px solid black;
}
.navbar-brand{
    color: #383535 !important;
    font-size: 25px;
    font-weight: normal;
    font-family: 'Reckless-Light,Palatino,Garamond,Georgia,serif';
}
.h2-clr{
    color: white!important;
    text-align: center;
    margin-top: 10px;
}
.nav-item{
    border-radius: 2px !important;
    padding-left: 10px !important;
}

.fotrclr-a{
    color: #5207ee !important;
}