.bg-clr{
    background-color: black !important;
    color: white;
    height: 100vh;
    position:fixed;
}

.fixed{
    position:fixed;
    width: 100%;
    background-color: white;
}

.logo{
    text-align: center!important;
    font-weight: bold;
    margin-bottom: 8px !important;
}

.lst-cntr{
   
    color: white!important;
}

.lst-cntr ol:hover{
    background-color: #252525 !important;
}

.active{
    background-color: #252525 !important;
}

.a-p{
    font-weight: bold !important;
    font-size:13px !important;
    text-decoration: none !important;
    
}
a{
    color: white !important;
}
